/**/

.card-header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table .calendar {
}

td.calender-day {
    cursor: pointer;
}

.calender-day:hover {
    color: #71717a;
    background-color: #cbd5e1 !important;
}

.sab,
.min {
    color: #dc3545;
}

.label-color {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
