.card-header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dataTables_filter input {
    width: 300px !important;
    margin-bottom: 10px;
}

div.dt-buttons {
    margin-bottom: 10px;
    position: relative;
    float: left;
}

.cs-text {
    font-size: 12px;
    font-weight: 500;
}

.btn-export {
    background: #6993ff !important;
    border: none !important;
}
